:root {
    --border: 3px;

    --color_background: #272433;
    --color_objects: #363245;
    --color_buttons: #4D4864;
    --color_borders: #5B5576;
    --color_selection: #7B7894;

    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font_color_white: #FFFFFF;
    --font_color_grey: #BFBFBF; 
    
    @media (max-width: 1080px) {
        scrollbar-width: none;
    }
}

body {
    visibility: visible;
    background-color: var(--color_background);
    color: var(--font_color_white);
    font-family: var(--font);   
    -webkit-user-select: none;
    user-select: none;
    overflow-y: scroll;
}